<!DOCTYPE html>
<html lang="pl-PL"
      th:replace="fragments/main-layout :: main-layout(~{::title}, ~{}, ~{fragments/navigation::navigation}, ~{::main}, ~{fragments/footer::footer})"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{title.tasks}">Hello</title>
</head>
<body>
<main>
    <div class="panel panel-primary">
        <div class="panel-heading" th:text="#{tasks.completedHeading}">Completed tasks</div>
        <div class="panel-body" th:if="${tasks.isEmpty()}">
            <span th:text="#{tasks.noTasksDone}">
                You didn't complete any task.
            </span>
        </div>
        <ul class="list-group">
            <li class="list-group-item" th:each="task : ${tasks}" th:object="${task}">
                <span th:text="*{description}" th:remove="tag"></span>
                <span th:switch="*{priority.priority}" th:remove="tag">
                                    <span th:case="'High'" class="label label-danger pull-right"
                                          th:text="${priorities[2].label}"></span>
                                    <span th:case="'Medium'" class="label label-warning pull-right"
                                          th:text="${priorities[1].label}"></span>
                                    <span th:case="'Low'" class="label label-primary pull-right"
                                          th:text="${priorities[0].label}"></span>
                                </span>
            </li>
        </ul>
    </div>

</main>


</body>
</html>