<!DOCTYPE html>
<html lang="pl-PL"
      th:replace="fragments/main-layout :: main-layout(~{::title}, ~{}, ~{fragments/navigation::navigation}, ~{::main}, ~{fragments/footer::footer})"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{title.profile}">User profile</title>
</head>
<body>
<main>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading" th:text="#{profile.userHeading}">
                    User details
                </div>
                <div class="panel-body">
                    <form th:action="@{/profile/update}" action="#" method="post" th:object="${userToEdit}">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group">
                            <label th:text="#{user.firstName}">First name</label>
                            <input class="form-control" type="text" th:field="*{firstName}"/>
                        </div>
                        <div class="form-group">
                            <label th:text="#{user.lastName}">Last name</label>
                            <input class="form-control" type="text" th:field="*{lastName}"/>
                        </div>

                        <div class="form-group">
                            <a th:href="@{/profile/password/change}" href="#" th:text="#{link.changePassword}">Change
                                password</a>
                        </div>
                        <button type="submit" class="btn btn-primary" th:text="#{btn.update}">Update</button>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-group">
                <div class="panel panel-primary" th:object="${score}">
                    <div class="panel-heading" th:text="#{profile.scoreHeading}">User score</div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <label for="total" th:text="#{profile.totalScore}">Total score </label><span
                                class="badge badge-info" id="total" th:text="*{totalScore}"></span>
                        </li>
                        <li class="list-group-item">
                            <label for="today" th:text="#{profile.todayScore}">Today score </label><span
                                class="badge badge-info" id="today" th:text="*{dailyScore}"></span>
                        </li>
                        <li class="list-group-item">
                            <label for="today-progress" th:text="#{profile.todaysProgress}">Today's progress:</label>
                            <div id="today-progress" class="progress">
                                <div class="progress-bar" role="progressbar" th:aria-valuenow="${progress}"
                                     aria-valuemin="0" aria-valuemax="100" th:style="${'width: ' + progress + '%'}"
                                     th:text="${progress + '%'}"></div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

</main>


</body>
</html>